@model List<EcommerceMVC.Models.ShippingViewModel>


@{ Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<meta name="viewport" content="width=device-width" />
<title>ProductIndex</title>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container-fluid ">
    @{ var index = 0;}

    <table class="table table-hover bg-light" id="tb1">
        <thead class="thead-dark">
            <tr>
                <th>S.No</th>
                <th>OrderID</th>
                <th>ShippingStatus</th>
               
                <th>Update Shipping</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var shipping in Model)
            {
<tr id="selectRow">
    <td class="index" @(index++)>@index</td>
    <td class="name">@shipping.OrderID</td>
    <td class="number">@shipping.ShippingStatus</td>
   
    <td class="updateShipping"><a class="btn btn-outline-dark mt-5 mb-5 btn-info text-white float-right" data-toggle="tooltip" data-placement="bottom" title="Click to create shipping" href="@Url.Action("UpdateShipping", "Shipping",new { orderID = Model[index-1].OrderID})">Update</a></td>

</tr>
}
        </tbody>
    </table>

</div>


<script type="text/javascript">$(document).ready(function () {
            $('#tb1').DataTable();
            $('#tb1_wrapper').find('label').each(function () {
                $(this).parent().append($(this).children());
            });
            $('#tb1_wrapper .dataTables_filter').find('input').each(function () {
                const $this = $(this);
                $this.attr("placeholder", "Search");
                $this.removeClass('form-control-sm');
            });
            $('#tb1_wrapper .dataTables_length').addClass('d-flex flex-row');
            $('#tb1_wrapper .dataTables_filter').addClass('md-form');
            $('#tb1_wrapper select').removeClass(
                'custom-select custom-select-sm form-control form-control-sm');
            $('#tb1_wrapper select').addClass('mdb-select');
            $('#tb1_wrapper .mdb-select').materialSelect();
            $('#tb1_wrapper .dataTables_filter').find('label').remove();
        });</script>