@model EcommerceMVC.Models.AdminViewModel;

@{ Layout = "~/Views/Shared/AdminLayout.cshtml"; }

<meta name="viewport" content="width=device-width" />
<title>EditPassword</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<style>
    .field-validation-error {
        color: red;
    }
</style>

<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Update Password</a>
    </nav>
    @using (Html.BeginForm("EditPassword", "AdminHome", FormMethod.Post))
    {
@Html.HiddenFor(temp => temp.AdminID)
                <div class="row mt-5 border border-light">
                    <div class="mt-5 col-md-6 mx-auto border-secondary bg-light">
                        <div class="card mb-3 mx-auto">
                            <div class="card-header bg-dark text-white">Change Password</div>
                            <div class="card-body ">
                                <div class="mt-3 form-group form-row">
                                    @Html.LabelFor(temp => temp.Password, "Previous Password:", new { @class = "col-form-label col-lg-3 " })
                                    @Html.PasswordFor(temp => temp.Password, new { @class = "form-control col-lg-9" })
                                    <div class="col-lg-3 text-nowrap col-form-label">
                                        @Html.ValidationMessageFor(temp => temp.Password)
                                    </div>
                                </div>

                                <div class="mt-3 form-group form-row">
                                    @Html.LabelFor(temp => temp.ChangePassword, "New Password:", new { @class = "col-form-label col-lg-3 " })
                                    @Html.PasswordFor(temp => temp.ChangePassword, new { @class = "form-control col-lg-9" })
                                    <div class="col-lg-3 text-nowrap col-form-label">
                                        @Html.ValidationMessageFor(temp => temp.ChangePassword)
                                    </div>
                                </div>


                                <div class="mt-3 form-group form-row">
                                    @Html.LabelFor(temp => temp.ConfirmPassword, "Confirm Password:", new { @class = "col-form-label col-lg-3 " })
                                    @Html.PasswordFor(temp => temp.ConfirmPassword, new { @class = "form-control col-lg-9" })
                                    <div class="col-lg-3 text-nowrap col-form-label">
                                        @Html.ValidationMessageFor(temp => temp.ConfirmPassword)
                                    </div>
                                </div>

                                <div class="mt-5 border-top text-right pt-2">
                                    <a class="btn btn-danger" href="@Url.Action("AdminIndex","AdminHome",new { adminID = Model.AdminID})">Cancel</a>
                                    <button class="btn btn-secondary" type="submit" name="button" value="password">Change Password</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
</div>



