@model EcommerceMVC.Models.CustomerViewModel;


@{ Layout = "~/Views/Shared/CustomerLayout.cshtml"; }

<meta name="viewport" content="width=device-width" />
<title>CustomerIndex</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<style>
    .field-validation-error {
        color: red;
    }
</style>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">My Profile</a>
    </nav>

    @using (Html.BeginForm())
    {
@Html.HiddenFor(temp => temp.CustomerID)
                <div class="row mt-5 border border-light">
                    <div class="mt-5 col-md-6 mx-auto border-secondary bg-light">
                        <div class="card mb-3 mx-auto">
                            <div class="card-header bg-dark text-white">Your Details..</div>
                            <div class="card-body ">
                                <div class="mt-3 form-group form-row">
                                    @Html.LabelFor(temp => temp.CustomerName, new { @class = "col-form-label col-lg-3 " })
                                    @Html.TextBoxFor(temp => temp.CustomerName, new { @class = "form-control col-lg-9", @readonly = "readonly" })
                                </div>
                                <div class="mt-4 form-group form-row">
                                    @Html.LabelFor(temp => temp.Email, new { @class = "col-form-label col-lg-3 " })
                                    @Html.TextBoxFor(temp => temp.Email, new { @class = "form-control col-lg-9", @readonly = "readonly" })
                                </div>
                                <div class="mt-4 form-group form-row">
                                    @Html.LabelFor(temp => temp.CustomerMobile, new { @class = "col-form-label col-lg-3 " })
                                    @Html.TextBoxFor(temp => temp.CustomerMobile, new { @class = "form-control col-lg-9", @readonly = "readonly" })
                                </div>
                                <div class="mt-4 form-group form-row">
                                    @Html.LabelFor(temp => temp.DefaultShippingAddress, new { @class = "col-form-label col-lg-3 " })
                                    @Html.TextBoxFor(temp => temp.DefaultShippingAddress, new { @class = "form-control col-lg-9", @readonly = "readonly" })
                                </div>
                                @*<div class="mt-4 form-group form-row">
                                        @Html.LabelFor(temp => temp.LastModifiedDate, new { @class = "col-form-label col-lg-3 " })
                                        @Html.TextBoxFor(temp => temp.LastModifiedDate, new { @class = "form-control col-lg-9", @readonly = "readonly" })
                                    </div>*@
                                <div class="mt-5 border-top text-right pt-2">
                                    <a class="btn btn-secondary text-white" name="button" value="password" href="@Url.Action("EditPassword", "CustomerHome",new { customerID = Model.CustomerID})">Change Password</a>
                                    <a class="btn btn-secondary text-white" name="button" value="edit" href="@Url.Action("Edit", "CustomerHome",new { customerID = Model.CustomerID})">Edit Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}

</div>
