@model EcommerceMVC.Models.CustomerViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="#">Register Here..</a>

        </nav>

        @using (Html.BeginForm("Register", "CustomerHome", FormMethod.Post))
        {
            <div class="row mt-5 border border-light bg-light">

                <div class="mt-5 col-md-6 mx-auto border-secondary">
                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Your Name">
                        @Html.LabelFor(temp => temp.CustomerName, new { @class = "col-form-label col-lg-2 " })
                        @Html.TextBoxFor(temp => temp.CustomerName, new { @class = "form-control col-lg-7", placeholder = "Name" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.CustomerName)
                        </div>
                    </div>

                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Your Name">
                        @Html.LabelFor(temp => temp.CustomerMobile, new { @class = "col-form-label col-lg-2 " })
                        @Html.TextBoxFor(temp => temp.CustomerMobile, new { @class = "form-control col-lg-7", placeholder = "Mobile Number" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.CustomerMobile)
                        </div>
                    </div>

                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Your Name">
                        @Html.LabelFor(temp => temp.DefaultShippingAddress, new { @class = "col-form-label col-lg-2 " })
                        @Html.TextBoxFor(temp => temp.DefaultShippingAddress, new { @class = "form-control col-lg-7", placeholder = "Shipping Address" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.DefaultShippingAddress)
                        </div>
                    </div>

                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Your Email">
                        @Html.LabelFor(temp => temp.Email, new { @class = "col-form-label col-lg-2 " })
                        @Html.TextBoxFor(temp => temp.Email, new { @class = "form-control col-lg-7 email", placeholder = "Email" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.Email)
                        </div>
                    </div>

                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Password">
                        @Html.LabelFor(temp => temp.CustomerPassword, new { @class = "col-form-label col-lg-2" })
                        @Html.PasswordFor(temp => temp.CustomerPassword, new { @class = "form-control col-lg-7 password", placeholder = "Password" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.CustomerPassword)
                        </div>
                    </div>

                    <div class="mt-5 form-group form-row" data-toggle="tooltip" data-placement="right" title="Password">
                        @Html.LabelFor(temp => temp.ConfirmNewPassword, new { @class = "col-form-label col-lg-2" })
                        @Html.PasswordFor(temp => temp.ConfirmNewPassword, new { @class = "form-control col-lg-7 password", placeholder = "Password" })
                        <div class="col-lg-3 text-nowrap col-form-label">
                            @Html.ValidationMessageFor(temp => temp.ConfirmNewPassword)
                        </div>
                    </div>

                    <div class="mt-5 border-top text-right pt-2">

                        <button class="btn btn-success" type="submit" id="register">Register</button>

                    </div>
                </div>

            </div>}

    </div>

    <script>
    $(document).ready(function () {
            $(function () {
                $('#register').attr('disabled', 'disabled');
            });

            $('input[type=text],input[type=password]').keyup(function () {

                if ($('.email').val() != '' && $('.password').val() != '') {
                    $('#register').removeAttr('disabled');
                }
                else {
                    $('#register').attr('disabled', 'disabled');
                }
            });
        });</script>




</div>
